@page
@model EXE201_LEARNING_ENGLISH_Client.Pages.Teachers.Courses.IndexModel
@{
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Các khóa học của bạn</h5>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <a class="btn btn-primary py-2 px-4 mr-auto" asp-page="./Create">Tạo mới</a>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model.CourseList)
            {
                <div class="col-lg-4 col-md-6 mb-4" onclick="redirectToCourseDetail('@course.CourseId')">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="img/course-6.jpg" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>@course.TeacherName</small>
                            </div>
                            <a class="h5" style="color: orange; font-size: 1.5em;">@course.CourseName</a>
                            <br />
                            <a class="h5">@course.Description</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h5 class="m-0">@string.Format("{0:N3}", @course.UnitPrice) VND</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function redirectToCourseDetail(courseId) {
        window.location.href = '/Courses/?id=' + courseId;
    }
</script>