@page
@model EXE201_LEARNING_ENGLISH_Client.Pages.CourseModel
@{
}

@if (@Model.CourseList != null)
{
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Our Popular Courses</h1>
            </div>
            <div class="row">
                @foreach (var course in Model.CourseList)
                {
                    <div class="col-lg-4 col-md-6 mb-4" onclick="redirectToCourseDetail('@course.Id')">
                        <div class="rounded overflow-hidden mb-2">
                            <img class="img-fluid" src="img/course-6.jpg" alt="">
                            <div class="bg-secondary p-4">
                                <div class="d-flex justify-content-between mb-3">
                                    <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>@course.TeacherName</small>
                                </div>
                                <a class="h5" style="color: orange; font-size: 1.5em;">@course.Name</a>
                                <br />
                                <a class="h5">@course.Description</a>
                                <div class="border-top mt-4 pt-4">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="m-0">@string.Format("{0:N3}", @course.UnitPrice) VND</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="img/course-6.jpg" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>@Model.CourseViewModel.TeacherName</small>
                        </div>
                        <a class="h5" style="color: orange; font-size: 1.5em;">@Model.CourseViewModel.Name</a>
                        <div class="d-flex justify-content-between mt-2">
                            <p>Duration: @Model.CourseViewModel.Duration hours</p>
                            <p>Number of Lessons: @Model.CourseViewModel.NumberOfLesson</p>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h5 class="m-0">@string.Format("{0:N3}", @Model.CourseViewModel.UnitPrice) VND</h5>
                                <a class="btn btn-primary" asp-page="/Booking">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function redirectToCourseDetail(courseId) {
        window.location.href = '/Course?id=' + courseId;
    }
</script>