@page
@model EXE201_LEARNING_ENGLISH_VIEW.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.FinalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.FinalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CheckInDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ApproveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ApproveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Student.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Vouncher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Vouncher.VouncherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order?.OrderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
